.cards {
  border: 1px solid #555 !important;
  border-bottom: 0 !important;
  border-radius: 7px 7px 0 0;

  & > div {
    width: 2rem !important;
    height: 1.25rem;
    margin: 0.5rem 4rem 0.5rem 0.5rem;
  }

  &:last-child {
    padding-bottom: 6rem;
    border-bottom: 1px solid #555 !important;
    border-radius: 7px;
  }
}

.card-empty {
  @extend .cards;
  border-color: #ccc !important;

  &:last-child {
    border-bottom: 1px solid #ccc !important;
  }
}

.cards-foundation {
  @extend .cards;
  border-color: #aaa !important;

  &:last-child {
    border-bottom-color: #aaa !important;
  }
}

.cards-selected {
  @extend .cards;
  border-color: rgb(229, 84, 0) !important;

  &:last-child {
    border-bottom-color: rgb(229, 84, 0) !important;
  }
}

.foundation-cards {
  position: relative;

  & .card-foundation-background {
    position: absolute;
    height: 8.25rem;
    width: 6.5rem;
    font-size: 250%;
    top: 35%;
  }

  & .card-foundation-empty {
    @extend .card-empty;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.site-header {
  font-size: 85%;
  font-family: sans-serif;
}